.institutes h2 {
    width: 574px;
    height: 26px;
}

.institutes {
    width: 1328px;
    height: 546px;
}

.institutes .list {
    width: 1131px;
    height: 404px;
}

.institutes .item-1 h3 {
    width: 291px;
    height: 20px;
}

.institutes .item-2 h3 {
    width: 210px;
    height: 20px;
}

.institutes .item-3 h3 {
    text-align: left;
    width: 332px;
    height: 40px;
}

.institutes .item-4 h3 {
    width: 446px;
    height: 20px;
}

.institutes .item-5 h3 {
    width: 387px;
    height: 20px;
}

.institutes .item-6 h3 {
    width: 315px;
    height: 20px;
}

.institutes .item-7 h3 {
    width: 371px;
    height: 20px;
}

.institutes .item-8 h3 {
    width: 302px;
    height: 20px;
}

.institutes .item-1 p {
    width: 297px;
    height: 34px;
}

.institutes .item-2 p {
    width: 338px;
    height: 34px;
}

.institutes .item-3 p {
    padding-top: 8px;
    width: 418px;
    height: 17px;
}

.institutes .item-4 p {
    width: 364px;
    height: 34px;
}

.institutes .item-5 p {
    width: 342px;
    height: 34px;
}

.institutes .item-6 p {
    width: 359px;
    height: 34px;
}

.institutes .item-7 p {
    width: 333px;
    height: 34px;
}

.institutes .item-8 p {
    width: 275px;
    height: 34px;
}

.institutes .heading {
    display: flex;
    justify-content: space-between;
}

.all-institutes-btn {
    width: 144px;
    height: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #40A8E4;
    border: none;
    background: none;
    padding: 0;
}

.all-institutes-btn:focus {
    outline: none;
}

.all-institutes-btn:hover {
    cursor: pointer;
}

.right-head {
    align-self: flex-end;
    padding-bottom: 18px;
}